{{define "indexPage"}}
{{template "header"}}

  <!-- start class container -->
  <div class="container">
    <h1>Invest</h1>


    <!-- start form -->
    <div>
      <form action="/submit" method="post" class="init">
        <p>See how much an amount of money could be worth if it is invested.</p>
        <p>How much money are you about to spend?</p><br>
        <input type="text" name="init"><br><br>
        <input type="submit" value="Save it instead!">
      </form>
    </div>
    <!-- end form -->

  </div>
  <!-- end class container -->

{{template "footer"}}
{{end}}