{{define "submitPage"}}
{{template "header"}}

    <!-- start class container -->
    <div class="container">
        <h1>Invest</h1>
    
    
        <!-- start invest -->
        <div>
            <p> If you invest it instead of spend it, that ${{ .Init }} could be worth <strong>${{ .Invested }}</strong>!
                <sup>*</sup>
            </p>
            <a href="/">Back</a>
            <hr>
            <p><sup>*</sup> assumes 30 year investement at 7% return, compounded monthly</p>
        </div>
        <!-- end invest -->
    
    
    </div>
    <!-- end class container -->

{{template "footer"}}
{{end}}